﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #menu ul {
         margin:0;
         padding:0;
         list-style-type:none;
         text-align:center;
         }

        .big {
            font-style:normal;
            font-weight:bold;
            font-size:15px;
            color:yellow;

        }
    
    </style>
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Contoso_NorthWind", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="big">@Html.ActionLink("Produit", "List", "Product")</li>
                    
                        <li>@Html.ActionLink("Add", "Add", "Product")</li>
                        <li>@Html.ActionLink("Search", "Search", "Product")</li>
                    
                    <li class="big">@Html.ActionLink("Categories", "List", "Categorie")</li>
                    
                        <li>@Html.ActionLink("Ajout", "Add", "Categorie")</li>
                        <li>@Html.ActionLink("Search", "Search", "Categorie")</li>
                    
                    <li class="big">@Html.ActionLink("Fournisseurs", "List", "Fournisseurs")</li>
                    
                        <li>@Html.ActionLink("Add", "Add", "Fournisseurs")</li>
                        <li>@Html.ActionLink("Search", "Search", "Fournisseurs")</li>
                    

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
